*{
    margin: 10px;
    padding: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(24, 24, 52)

}

h1{
    /* color: #34495E ; */
    text-align: center;
}

#summary{
    text-transform: capitalize;
}
div{
   margin: auto;
   padding: 0;
   width: 14%;
   display: block;
   align-items: center;
   justify-content: center;
}
div img{
    border-radius: 300px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#caption{
    text-align: center;
}

#logo{
    display: block;
    align-items: center;
    justify-content: center;
}